.calculator {
    button {
        appearance: none;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 20px;
        padding: 26px;
        cursor: pointer;

    }

    background: #0E1828;
    min-height: 100vh;

    &__container {
        max-width: 1656px;
        margin: 0 auto;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 74px;
        color: #FFFFFF;
    }

    &__content {
        margin: 0 auto;
        border-radius: 40px;
        background-color: #FFFFFF;
        max-width: 350px;
        width: 100%;
        height: 480px;
        overflow: hidden;

        &__buttons {
            background-color: #262931;

        }

        &__display {
            padding: 16px;
            text-align: right;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 45px;
            color: #000000;
        }

        &__operators {
            display: flex;

            button {
                flex: 1 1 0%;
                color: #DF8684
            }
        }

        &__digits {
            display: flex;
            flex-wrap: wrap;

            button {
                flex: 1 1 33.333%;
            }
        }

    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 45px;
        color: #FFFFFF;
    }

    &__about {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 42px;
        color: #FFFFFF;
    }

    &__header {
        z-index: 99;

        &__content {
            z-index: 99;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;
            max-width: 1656px;
            margin: 0 auto;


            &__link {
                z-index: 99;
                font-style: normal;
                font-weight: 400;
                font-size: 34px;
                line-height: 45px;
                color: #FFFFFF;
            }

        }
    }

    &__header__scroll {
        z-index: 99;
        position: fixed;
        max-width: 100%;
        width: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(12px);
        box-shadow: 0 10px 30px -10px;
    }
}