.home {
	background-color: #0e1828;
	height: 100%;
	scroll-behavior: smooth;
	&__burger {
		display: none;
	}
	&__container {
		max-width: 1656px;
		margin: 0 auto;
	}
	&__works {
		margin-top: 280px;
		min-height: 100vh;
		width: 100%;

		&__button {
			width: 153px;
			height: 52px;
			display: flex;
			justify-content: center;
			margin: 40px auto;
			background: linear-gradient(180deg, #02b3ac 0%, #00b1cd 100%);
			border-radius: 15px;
			align-items: center;
			font-style: normal;
			font-weight: 400;
			font-size: 22px;
			line-height: 29px;
			color: #ffffff;
		}

		&__items {
			max-width: 1614px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(auto-fill, 461px);
			justify-content: center;
			gap: 80px;
			&__images {
				width: 461px;
				height: 461px;
			}
		}

		&__question {
			text-align: center;
			font-style: normal;
			font-weight: 400;
			font-size: 44px;
			line-height: 58px;
			color: #05d2ca;
		}

		&__title {
			text-align: center;
			font-style: normal;
			font-weight: 400;
			font-size: 56px;
			line-height: 74px;
			color: #ffffff;
			margin-bottom: 40px;
		}
	}

	&__button {
		width: 146px;
		height: 52px;
		background: linear-gradient(180deg, #02b3ac 0%, #00b1cd 100%);
		border-radius: 8px;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #ffffff;
	}

	&__about {
		margin-top: 280px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		width: 100%;
		&__question {
			color: #05d2ca;
			text-align: center;
			font-size: 44px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		&__title {
			margin-top: 40px;
			color: #fff;
			text-align: center;
			font-size: 56px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		&__content {
			margin-top: 156px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__img {
				&__458 {
					display: none;
				}
				&__320 {
					display: none;
				}
			}
			&__desc {
				&__text {
					max-width: 788px;
					color: #fff;
					font-size: 32px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					margin-bottom: 80px;
				}
				&__item {
					margin-bottom: 49px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					&__left {
						display: flex;
						align-items: center;
						p {
							margin-left: 18px;
							color: #fff;
							text-align: center;
							font-size: 32px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
					p {
						color: #fff;
						text-align: center;
						font-size: 32px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
				&__links {
					h3 {
						color: #fff;
						font-size: 32px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
					&__items {
						display: flex;
						a {
							margin-top: 30px;
							margin-right: 30px;
						}
					}
				}
			}
		}
	}

	&__experience {
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		max-width: 812px;
		width: 100%;

		&__items {
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;

			&__date {
				font-style: normal;
				font-weight: 400;
				font-size: 54px;
				line-height: 71px;
				color: #ffffff;
			}

			&__text {
				&__title {
					margin-bottom: 20px;
					font-style: normal;
					font-weight: 700;
					font-size: 34px;
					line-height: 45px;
					color: #ffffff;
				}
			}
		}
	}

	&__skills {
		margin-top: 280px;
		text-align: center;
		min-height: 100vh;
		width: 100%;
		&__dashboard {
			display: flex;
			max-width: 1070px;
			margin: 92px auto 92px auto;
			flex-direction: column;
			&__item {
				max-width: 1070px;
				width: 100%;
				margin-bottom: 40px;
				&__name {
					color: #fff;
					font-size: 34px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-align: left;
				}
				&__line {
					margin-top: 20px;
					position: relative;
					background: #000;
					height: 8px;
					width: 100%;
				}
			}
		}
		&__items {
			max-width: 1070px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(auto-fill, 150px);
			justify-content: center;
			align-items: center;
			gap: 80px;
		}

		&__buttons {
			display: flex;
			margin: 72px auto;
			max-width: 469px;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 40px;
		}

		&__question {
			font-style: normal;
			font-weight: 400;
			font-size: 44px;
			line-height: 58px;
			color: #05d2ca;
		}

		&__title {
			font-style: normal;
			font-weight: 400;
			font-size: 56px;
			line-height: 74px;
			color: #ffffff;
		}
	}

	&__me {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 100vh;
		width: 100%;

		&__title {
			text-align: center;
			font-style: normal;
			font-weight: 400;
			font-size: 56px;
			line-height: 74px;
			color: #05d2ca;
		}

		&__profession {
			font-style: normal;
			font-weight: 400;
			font-size: 44px;
			line-height: 58px;
			color: #ffffff;
		}

		&__connect {
			width: 349px;
			height: 72px;
			background: linear-gradient(180deg, #02b3ac 0%, #00b1cd 100%);
			border-radius: 8px;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			color: #ffffff;
			margin-top: 140px;
		}

		&__about {
			text-align: center;
			margin-top: 75px;
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 42px;
			color: #ffffff;
			max-width: 882px;
			width: 100%;
		}
	}

	&__navigation {
		margin-top: 5px;

		&__list {
			display: flex;
			align-items: center;

			&__item {
				padding: 0 17px;

				&__link {
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 32px;
					color: #c6c6c6;
				}
			}
		}
	}

	&__header {
		padding: 0 10px;
		&__content {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 40px 0;
			max-width: 1656px;
			margin: 0 auto;

			&__link {
				font-style: normal;
				font-weight: 400;
				font-size: 34px;
				line-height: 45px;
				color: #ffffff;
			}
		}
	}

	&__header__scroll {
		position: fixed;
		max-width: 100%;
		width: 100%;
		top: 0;
		left: 0;
		backdrop-filter: blur(12px);
		box-shadow: 0 10px 30px -10px;
		z-index: 99;
	}
}

@media screen and (max-width: 1486px) {
	.home {
		&__about {
			&__content {
				justify-content: space-between;
				flex-direction: column-reverse;
				img {
					margin-top: 100px;
				}
			}
		}
	}
}

@media screen and (max-width: 1070px) {
	.home {
		&__skills {
			margin-top: 280px;
			text-align: center;
			min-height: 100vh;
			width: 100%;
			&__dashboard {
				display: flex;
				max-width: 870px;
				margin: 92px auto 92px auto;
				flex-direction: column;
				&__item {
					max-width: 1070px;
					width: 100%;
					margin-bottom: 40px;
					&__name {
						color: #fff;
						font-size: 34px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						text-align: left;
					}
					&__line {
						margin-top: 20px;
						position: relative;
						background: #000;
						height: 8px;
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 986px) {
	.home {
		&__navigation {
			display: none;
		}
		&__button {
			display: none;
		}
		&__burger {
			display: block;
			position: relative;
			width: 40px;
			height: 2px;
			background: #fff;
			&::before {
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background: #fff;
				top: 8px;
			}
			&::after {
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background: #fff;
				bottom: 8px;
			}
		}
	}
}

@media screen and (max-width: 840px) {
	.home {
		&__experience {
			&__items {
				flex-direction: column;
			}
		}
		&__skills {
			&__dashboard {
				display: flex;
				max-width: 650px;
				margin: 92px auto 92px auto;
				flex-direction: column;
			}
		}
		&__about {
			&__content {
				&__desc {
					&__text {
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 798px) {
	.home {
		&__about {
			&__content {
				&__desc {
					&__item {
						display: flex;
						flex-direction: column;
					}
					&__links {
						display: flex;
						justify-content: center;
						flex-direction: column;
						align-items: center;
						text-align: center;

						&__items {
							max-width: 300px;
							width: 100%;

							a {
								margin: 20px auto;
								svg {
									display: flex;
									justify-content: center;
									text-align: centere;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.home {
		&__skills {
			&__dashboard {
				display: flex;
				max-width: 460px;
				margin: 92px auto 92px auto;
				flex-direction: column;
			}
		}
		&__about {
			&__content {
				&__desc {
					&__text {
						font-size: 24px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						margin-bottom: 80px;
					}
				}
				&__img {
					&__628 {
						display: none;
					}
					&__458 {
						display: block;
					}
				}
			}
		}
	}
}

// @media screen and (max-width: 540px) {
// 	.home {
// 		&__me {
// 		}
// 	}
// }

@media screen and (max-width: 462px) {
	.home {
		&__skills {
			&__dashboard {
				display: flex;
				max-width: 320px;
				margin: 92px auto 92px auto;
				flex-direction: column;
			}
		}
		&__about {
			&__content {
				&__img {
					&__628 {
						display: none;
					}
					&__458 {
						display: none;
					}
					&__320 {
						display: block;
					}
				}
			}
		}
		&__works {
			&__items {
				max-width: 1614px;
				margin: 0 auto;
				display: grid;
				grid-template-columns: repeat(auto-fill, 320px);
				justify-content: center;
				gap: 80px;
				&__images {
					width: 320px;
					height: 320px;
				}
			}
		}
	}
}
