/* .home__wrapper {
    position: relative;
    height: 461px;
    width: 461px;
    background-image: url('/project.jpg');
    background-color: aqua;
}

.home__wrapper__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__wrapper__link {
    transition: transform .4s ease-in-out;
    display: inline-block;
    transform: translateY(100%);
}

.home__wrapper .home__wrapper__link {
    transition-delay: .0s;
}

.home__wrapper:hover home__wrapper__link {
    transform: translateY(0%);
} */


.home {
    overflow: hidden;
    position: relative;
}

.home__wrapper {
    background-image: url('/project.jpg');
    height: 461px;
    width: 461px;

}

.home__wrapper:hover {
    filter: blur(4px);
}


.home__wrapper__link {
    transform: translate(-1000%);
    transition: .3s;
    display: inline-block;

}

.home__wrapper:hover {
    z-index: 1;

}

.home:hover {
    transform: scale(1.05);
}

.home:hover .home__wrapper__link {

    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}